<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>District-wise River Statistics</title>

  <!-- Turf.js -->
  <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<link rel="stylesheet" href="/static/css/riversperdistrict.css">
</head>

<body>

<h2>District-wise River Count (Narmada Basin)</h2>

<table id="resultTable">
  <thead>
    <tr>
      <th>District</th>
      <th>No. of Rivers</th>
      <th>River Names</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script src="/static/js/riversperdistrict.js"></script>

</body>
</html>
